* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Muli', sans-serif;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cadetblue;
  padding: 1rem;
}

#cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
input {
  width: 30%;
  height: 2rem;
  border-radius: 10px;
  border: none;
  transition: 0.5s linear;
}

input:focus {
  background-color: blueviolet;
  outline: none;
  align-items: center;
}
